<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/authenticated.html}">
<head>
<meta charset="UTF-8">
<title>Profile</title>

</head>
<body>

	<div layout:fragment="content">

		<div class="row mb-4">

			<div class="col">

				<div class="card mb-4">

					<div class="card-header">
						<h4><i class="bi-person-rolodex me-2" ></i>Profile</h4>
					</div>
					<div class="card-body">
						
						<div class="input-group mb-3">
							<div class="input-group-text">
								<i class="bi-person"></i>
							</div>
							<span class="form-control" th:text="${user.name}" >User Name</span>
						</div>
						
						<div class="input-group">
							<div class="input-group-text">
								<i class="bi-lock"></i>
							</div>
							<span class="form-control" th:text="${user.loginId}">Login Id</span>
						</div>
						
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card">

					<div class="card-header">
						<div class="row">
							<div class="col-10">
								<h4><i class="bi-telephone me-2"></i>Contact</h4>
							</div>
							<div class="col-2">
								<a href="#" data-bs-toggle="modal" data-bs-target="#editContact" ><i class="bi-gear h4"   ></i> </a>
							</div>
						</div>
	
					</div>
					<div class="card-body">
						<div class="input-group mb-3">
							<div class="input-group-text">
								<i class="bi-phone"></i>
							</div>
							<span class="form-control" th:text="${user.phone} ?: 'Undefined'" >Phone</span>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-text">
								<i class="bi-envelope"></i>
							</div>
							<span class="form-control" th:text="${user.phone == null ? 'Undefined' : user.email}" >Email</span>
						</div>
					</div>
				</div>

			</div>
		</div>
		
		<div class="card">
			<div class="card-header">
				<h4><i class="bi-journal me-2"></i>Access Log</h4>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Access Type</th>
							<th>Time</th>
							<th>Error Message</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="access : ${accessLogs}" >
							<td th:text="${access.accessType}" ></td>
							<td th:text="${#temporals.format(access.accessTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
							<td th:text="${access.errorMessage}" ></td>
						</tr>
					</tbody>
				</table>
				
				<div th:include="~{/fragments/components :: pagenation(${pagenation})}" ></div>
			</div>
		</div>

		<div th:replace="~{/fragments/modals :: editContact}" ></div>
	</div>
	
	

</body>
</html>









